body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  padding: 15px;
  overflow-y: auto;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  cursor: pointer;
}

#boardsList button {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
  background: #334155;
  color: white;
  border: none;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

h1 {
  text-align: center;
}

.toolbar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

canvas {
  width: 100%;
  height: calc(100vh - 140px);
  background: white;
  border: 2px solid #ccc;
  cursor: crosshair;
}

/* Light Theme */
body.light {
  background: white;
  color: black;
}

body.light .main {
  background: #f3f4f6;
}

body.light canvas {
  background: white;
}

body.light .sidebar {
  background: #e5e7eb;
  color: black;
}
